@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
}
#header {
  text-align: center;
  z-index: 100;
  width: 100%;
  background-color: #94f593f7;
  padding: 0.1em;

  -webkit-box-shadow: 3px 3px 12px 0px rgba(176,176,176);
  -moz-box-shadow: 3px 3px 12px 0px rgba(176,176,176);
  box-shadow: 3px 3px 12px 0px rgba(176,176,176);

  font-family: 'Montserrat', sans-serif;
}

#param-form {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;


}

.form-field {
  display: inline-block;

}

.form-label {

}

.form-input {
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
}

#chart {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}


.select select, input {
  display: inline-block;
  cursor: pointer;
  padding: 10px 16px;
  outline: 0;
  border: 1px solid #ececec;
  border-radius: 6px;
  background: #ffffff;
  color: #555555;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #f6f6f6;
}

.select select:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: solid #7b7b7b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}

.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
