<!DOCTYPE html>

<html>
  <head>
    <title>{{ chemical.name }}</title>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>

    <div id="header">
      <div id="param-form" class="select">
        {% from "_formhelpers.html" import render_field %}
        <form>
            {{ render_field(form.chemical) }}
            <span class="form-field">
              <input type=submit value=Odeslat>
            </span>
        </form>
      </div>
    </div>

    <div id="chemical" style="width: 39vw; float: left;">
      <h2>Informace o látce</h2>
      <table>
        <tr>
          <td>
            <strong>
              Název
            </strong>
          </td>
          <td>
            {{ chemical.name }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              Vzorec
            </strong>
          </td>
          <td>
            {{ chemical.formula or "" }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>
              S-Věty
            </strong>
          </td>
        </tr>
        {% for k in chemical.s_labels %}
        <tr>
          <td>
            {{ k }}
          </td>
          <td>
            {{ chemical.s_labels[k] }}
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td>
            <strong>
              R-Věty
            </strong>
          </td>
        </tr>
        {% for k in chemical.r_labels %}
        <tr>
          <td>
            {{ k }}
          </td>
          <td>
            {{ chemical.r_labels[k] }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div id="chart" style="width: 60vw; float: right;">
      <canvas id="myChart"></canvas>
    </div>

    <script>
      function createChart(data) {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: "pie",
            data: data,
            options: {
              maintainAspectRation: false,
              title: {
                display: true,
                text: "Počty měření podle typu emisí",
                fontSize: 18
              },
              legend: {
                "position": "right",
              },
          }
        });
      };

      fetch('/api/chemical/{{ chemical.iri }}')
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          createChart(data)
        });

    </script>
  </body>
</html>
