{% extends "base.html" %}

{% block title %}
  Údaje o látce: {{ chemical.name }}
{% endblock %}

{% block includescript %}
<script type="text/javascript" charset="utf-8" src="/static/js/chemical-chart.js"></script>
{% endblock %}

{% block header %}
<div id="param-form" class="select">
  {% from "_formhelpers.html" import render_field %}
  <form>
      <span class="header-link">
        <a href="/">Zpět</a>
      </span>
      {{ render_field(form.chemical) }}
      {{ render_field(form.year_from) }}
      {{ render_field(form.year_to) }}
      <span class="form-field">
        <input type=submit value=Odeslat>
      </span>
  </form>
</div>
{% endblock %}

{% block body %}
<div id="chemical" style="width: 39vw; float: left;">
  <h2>Informace o látce</h2>
  <table>
    <tr>
      <td>
        <strong>
          Název
        </strong>
      </td>
      <td>
        {{ chemical.name }}
      </td>
    </tr>

    {% if chemical.info %}
    <tr>
      <td colspan=2>
        <p>
          {{ chemical.info|safe }}
        </p>
      </td>
    </tr>
    {% endif %}

    <tr>
      <td>
        <strong>
          Vzorec
        </strong>
      </td>
      <td>
        {{ chemical.formula}}
      </td>
    </tr>

    <tr>
      <td>
        <strong>
          R-Věty
        </strong>
      </td>
    </tr>
    {% for k in r_labels %}
    <tr>
      <td>
        {{ k }}
      </td>
      <td>
        {{ chemical.r_labels[k] }}
      </td>
    </tr>
    {% endfor %}

    <tr>
      <td>
        <strong>
          S-Věty
        </strong>
      </td>
    </tr>
    {% for k in s_labels %}
    <tr>
      <td>
        {{ k }}
      </td>
      <td>
        {{ chemical.s_labels[k] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<style>
  #chart {
   width: 60vw;
   float: right;
  }
</style>
{% endblock %}
