<!DOCTYPE html>

<html>
  <head>
    <title>{{ chemical.name }}</title>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>

    <div id="header">
      <div id="param-form" class="select">
        {% from "_formhelpers.html" import render_field %}
        <form>
            {{ render_field(form.chart_type) }}
            {{ render_field(form.fun) }}
            {{ render_field(form.chemical) }}
            <span class="form-field">
              <input type=submit value=Odeslat>
            </span>
        </form>
      </div>
    </div>

    <div id="chart">
      <canvas id="myChart"></canvas>
    </div>

    <script>
      var urlParams = new URLSearchParams(location.search);
      var chartType = urlParams.has("chart_type") ? urlParams.get("chart_type") : "bar";
      var stacked = chartType === "line" ? true : false;
      var fun = urlParams.has("fun") ? urlParams.get("fun") : "mean"

      function createChart(data) {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: chartType,
            data: data,
            options: {
              maintainAspectRation: false,
              title: {
                display: true,
                text: "{{ label }} za rok",
                fontSize: 18
              },
              scales: {
                  yAxes: [{
                      stacked: stacked,
                      scaleLabel: {
                        display: true,
                        labelString: "{{ unit }} / rok",
                        fontSize: 16
                      },
                      ticks: {
                        beginAtZero:true
                      }
                  }],
                  xAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "Rok",
                        fontSize: 16
                      },
                  }]
              },
              legend: {
                "position": "right",
              },
          }
        });
      };

      fetch('/api/by-regions/{{ chemical.iri }}?fun={{ fun }}')
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          createChart(data)
        });

    </script>
  </body>
</html>
