{% extends "base.html" %}

{% block includescript %}
<script type="text/javascript" charset="utf-8" src="/static/js/region-chart.js"></script>
{% endblock %}

{% block header %}
<div id="param-form" class="select">
  {% from "_formhelpers.html" import render_field %}
  <form>
      {{ render_field(form.chart_type) }}
      {{ render_field(form.fun) }}
      {{ render_field(form.chemical) }}
      <span class="form-field">
        <input type=submit value=Odeslat>
      </span>
  </form>
</div>
{% endblock %}
